@import "tailwindcss";

.specialBtn {
    /* background: #51a2ff; */
    box-shadow: 0px 14px 55px rgba(96, 160, 255, 0.36);
    transition-duration: 220ms;;
}

.specialBtn:hover {
    opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Relief', sans-serif;
}
