@import "tailwindcss";

.specialBtn {
    background: white;
    box-shadow: 0px 14px 55px rgba(96, 160, 255, 0.36);
    transition-duration: 220ms
}

.specialBtn:hover {
    opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Relief', sans-serif;
}

.loading {
    animation: width 5s linear infinite;
    margin-right: 'auto';
}

.loading1 {
    animation-delay: -4s;
}

.loading2 {
    animation-delay: -2s;
}

@keyframes width {
    0%{width: 100%;}
    10%{width: 11%;}
    20%{width: 99%;}
    30%{width: 14%;}
    40%{width: 89%;}
    50%{width: 34%;}
    60%{width: 77%;}
    70%{width: 45%;}
    80%{width: 56%;}
    90%{width: 64%;}
    100%{width: 46%;}
} 
    
